/* .about-main{
    width: 80%;
    position: absolute;
    left: 11%;
    margin: 0 auto 4vh;
  }

.about__title > h2{
    margin: 1vh 0 4vh;
  }

.about__statement {
  margin-top: 2vh;
} */

/* .about__flex-container {
    width: 90%;
    margin: 5vh auto 10vh;
    display: flex;
    background-color: red;
  }
    
.about__img-container {
    display: none;
  }
    
.about__info-container {
    flex-basis: 100%;
    padding: 2vh 0 0;
    margin-bottom: -1vh;
  } */

.about__form-title {
  margin-bottom: 2vh;
} 

.about__form-group{
    border: none;
    display: block;
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0 0 3vh;
    width: 100%;
    padding: 10px 16px; 
    font-size: 1.1em;
    letter-spacing: .07em;  
  }

.about--loading:after {
  top: 45%;
}

.about__button {
  width: 30%;
  margin: 0 auto;
}

/* input {
  display: block
} */

/***************************For Tablets and Up****************************/
@media (min-width: 1000px){
  
  .about__flex-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about__title > h2{
    margin: 0 0 3vh;
  }

  .about__img-container {
    display: flex;
    flex-basis: 45%;
    overflow: hidden;
    margin-top: -5vh;
  }
  
.about__img-container > img {
    height: auto;
    width: 100%;
    border-radius: 15px;
    object-fit: contain;
  } 
  
.about__info-container {
    flex-basis: 50%;
    margin-top: -2vh;
  }
}