

.single-member-main {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

.single-member__title {
font-size: 2em;
text-align: left;
width: 100%;
}

.single-member-card__flex-container
{
  width: 100%;
  height: auto;
  background-color:#eee;
  border: 1px solid #999;
  box-shadow: 0 8px 21px 0 rgba(0,0,0,.2);
  border-radius: 8px;
  margin: 3vh auto;
  padding: 1vh 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.single-member-card__thumbnail
{
  flex-basis:15%;
  text-align: center;
  align-items: center;
  padding: 5px 10px 50px;
  margin-right: -3%;
}

.single-member-card__thumbnail--round
{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #333;
}

.single-member-card__info
{
  flex-basis: 80%;
  padding: 2vh 0 2vh 7%;
} 

.single-member-card__thumbnail--round >img
{
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* info components*/
.single-member-card__title
{
  font-size: 1.7em;
  margin: 0 0 1vh;
}

.single-member-card__title a
{
  color: #111;
  display: block;
  text-decoration: none;
}

.single-member-card__location {
  font-size: .85em;
  font-weight: 400;
}


p.single-member-card__body
{
  margin-top: 1vh;
}

/************** Comments Section ***************/

.member__activity__section__title {
  font-size: 1.5em;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
}

.filtered-post-list {
  width: 90%;
  margin: 0 auto;
} 

/******************************** TABLETS AND UP *******************************/
@media (min-width: 1000px){

  .single-member-card__flex-container
  {
    margin: 1vh auto 5vh;
    padding: 3vh 3%;
    justify-content: space-between;
    align-items: top;
  }

  .single-member-card__thumbnail
  {
    width: 25%;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin-right: 0;
  }

  .single-member-card__thumbnail--round
  {
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid #333;
    }

  .single-post-card__info
  {
    flex-basis: 75%;
    padding: 0;
  } 

}


