.member-card__flex-container {
    width: 100%;
    height: auto;
    margin:0 auto 3vh;
    padding: 1vh 5% 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .member-card__thumbnail {
    flex-basis:30%;
    text-align: center;
    align-items: center;
    padding: 5px 30px 50px;
    margin-right: -3%;
  }
  
  .member-card__thumbnail--round{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333;
  }
  
  .member-card__info {
    flex-basis: 90%;
    padding-bottom: 1vh;
  } 
  
  .member-card__thumbnail--round >img {
    height: 100%;
    width: auto;
    object-fit: contain;
    margin-left: -17%;
  }
  
  /* info components*/
  .member-card__title {
    text-transform: capitalize;
    font-size: 1.7em;
    margin: 0 0 1vh;
  }
  
  .member-card__title a {
    color: #111;
    display: block;
    text-decoration: none;
  }
  
  p.member-card__body {
    margin-top: 1vh;
  }
  
  .member-card__dates {
    color:#555;
    font-size: 1.1em;
  }
  
  .member-card__button-container__flex-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    height: 25%;
  }
  
  .other-buttons__container {
    flex-basis: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }
  
  .delete-button__container {
    flex-basis: 10%;
    align-self: flex-end;
  }
  
  
  @media (min-width: 1000px){
    .member-card__thumbnail {
      width: 10%;
      text-align: center;
      align-items: center;
      padding: 5px 60px 100px;
      margin-right: -3%;
    }
  
    .member-card__info {
      flex-basis: 90%;
      padding-bottom: 1vh;
    } 
  
    
  
  
    
  
  }
  