/* Final Delete Button */
.Button--delete  {
  background-color:#C23C47;
  border: 1px solid #C23C47;
  border-radius: 5px;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 9px 15px;
  color: #fff;
  font-size: 1.2em;
}

.Button--delete:hover {
  background-color: #fff;
  color: #C23C47;
  cursor: pointer;
  font-weight: bold;
}



