/* Final Delete Button */
.Button--delete  {
  background-color:#C23C47;
  border: 1px solid #C23C47;
  border-radius: 5px;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 9px 15px;
  color: #fff;
  font-size: 1.2em;
}

.Button--delete:hover {
  background-color: #fff;
  color: #C23C47;
  cursor: pointer;
  font-weight: bold;
}


div.delete-button__container > .Tooltip > .Tooltip-message {
    background-color: hsla(0, 0%, 10%, 0.9);
    border-radius: 8px;
    color: #fff;
    margin-bottom: 5px;
    margin-left: 1%;
    min-width: 100px;
    padding: 10px;
    position: absolute;
    left: 6%;
    top: calc(-8.25vh - 14px);
    text-align: center;
    font-size: 1.2em;
    letter-spacing: .04em;
    white-space: wrap;
}

.Tooltip-message:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsla(0, 0%, 20%, 0.9);
    content: '';
    font-size: 0;
    left: 40px;
    line-height: 0;
    margin-left: 5px;
    position: absolute;
    top: calc(29px + 14px);
    width: 0
}